.app{
  width: 1500px;
  background-color:darkolivegreen
}


  .forecast-container{
  display: flex;
  justify-content: space-between;
  }

  .forecast-item{
    background-color: aquamarine;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
  }

